txt/protocol node red example.json
[
    {
        "id": "5e28082ea45bdda0",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0089d3b291a9a9d1",
        "type": "mqtt out",
        "z": "5e28082ea45bdda0",
        "name": "",
        "topic": "i2r/kdi6033@gmail.com/in",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f15d66b3.c7edf8",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "1a4829d416b9a6ed",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=3 메세지 요청",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"A0:B7:65:CD:4D:34\",\"order\":3}",
        "payloadType": "json",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "fc5c9b446f8085cb"
            ]
        ]
    },
    {
        "id": "7792d099e3f2ee1b",
        "type": "mqtt in",
        "z": "5e28082ea45bdda0",
        "name": "",
        "topic": "i2r/kdi6033@gmail.com/out",
        "qos": "0",
        "datatype": "auto",
        "broker": "f15d66b3.c7edf8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "1d1cde166fb7497f"
            ]
        ]
    },
    {
        "id": "1d1cde166fb7497f",
        "type": "debug",
        "z": "5e28082ea45bdda0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "94e4bb15071e15fa",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=4 insert 매일",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"insert\",\"pI\":0,\"sH\":9,\"sM\":55,\"eH\":9,\"eM\":57,\"rM\":\"d\",\"dW\":0}",
        "payloadType": "json",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "fc5c9b446f8085cb"
            ]
        ]
    },
    {
        "id": "1fe1c7c8161e15f0",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=4 list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"list\",\"pI\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "fc5c9b446f8085cb"
            ]
        ]
    },
    {
        "id": "c5ce57684c9a6188",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=4 insert 매주 월요일",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"insert\",\"pI\":0,\"sH\":9,\"sM\":55,\"eH\":9,\"eM\":57,\"rM\":\"w\",\"dW\":1}",
        "payloadType": "json",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "fc5c9b446f8085cb"
            ]
        ]
    },
    {
        "id": "de127e26a2cd4dbf",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=4 delete one",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"delete\",\"pI\":0,\"slotIndex\":0}",
        "payloadType": "json",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "fc5c9b446f8085cb"
            ]
        ]
    },
    {
        "id": "697d6bdd4a161364",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=4 delete all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"deleteAll\",\"pI\":0}",
        "payloadType": "json",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "fc5c9b446f8085cb"
            ]
        ]
    },
    {
        "id": "f19ada2f14d91e3d",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=5 save",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":5,\"oper\":\"save\",\"mac\":\"A0:B7:65:CD:4D:34\",\"portNo\":0,\"portState\":[{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":1,\"value\":false},{\"mac\":\"B0:A7:32:1D:B3:B8\",\"port\":1,\"value\":true}]}",
        "payloadType": "json",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "b3aee02dac108168"
            ]
        ]
    },
    {
        "id": "ae0a740b8f7730fe",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=5 list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":5,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"list\",\"portNo\":0}",
        "payloadType": "json",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "b3aee02dac108168"
            ]
        ]
    },
    {
        "id": "7d83ee8e808ea832",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=5 dlete",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":5,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"delete\",\"portNo\":0}",
        "payloadType": "json",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "b3aee02dac108168"
            ]
        ]
    },
    {
        "id": "ae612ba5fb913c87",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=6 save",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":6,\"oper\":\"save\",\"mac\":\"A0:B7:65:CD:4D:34\",\"tempHigh\":28,\"tempLow\":27,\"portState\":[{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":0,\"value\":false},{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":0,\"value\":true}]}",
        "payloadType": "json",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "0f420e6bc3e9ae88"
            ]
        ]
    },
    {
        "id": "aca0a2902fbf0aa0",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=6 list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":6,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"list\"}",
        "payloadType": "json",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "0f420e6bc3e9ae88"
            ]
        ]
    },
    {
        "id": "b86a085737980c07",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=6 calibration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":6,\"oper\":\"cali\",\"mac\":\"A0:B7:65:CD:4D:34\",\"calTemp\":28.1}",
        "payloadType": "json",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "0f420e6bc3e9ae88"
            ]
        ]
    },
    {
        "id": "8272efe65220e661",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=6 dlete",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":6,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"delete\"}",
        "payloadType": "json",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "0f420e6bc3e9ae88"
            ]
        ]
    },
    {
        "id": "aaeb89912765fed7",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=7 save",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":7,\"oper\":\"save\",\"mac\":\"A0:B7:65:CD:4D:34\",\"humiHigh\":50,\"humiLow\":49,\"portState\":[{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":0,\"value\":false},{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":0,\"value\":true}]}",
        "payloadType": "json",
        "x": 850,
        "y": 160,
        "wires": [
            [
                "64eb321e65fbc4fb"
            ]
        ]
    },
    {
        "id": "34ddfde3e744047f",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=7 list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":7,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"list\"}",
        "payloadType": "json",
        "x": 840,
        "y": 200,
        "wires": [
            [
                "64eb321e65fbc4fb"
            ]
        ]
    },
    {
        "id": "aa276f52387d9049",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=7 calibration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":7,\"oper\":\"cali\",\"mac\":\"A0:B7:65:CD:4D:34\",\"calHumi\":48}",
        "payloadType": "json",
        "x": 870,
        "y": 240,
        "wires": [
            [
                "64eb321e65fbc4fb"
            ]
        ]
    },
    {
        "id": "78db60a3496928fd",
        "type": "inject",
        "z": "5e28082ea45bdda0",
        "name": "orde=7 dlete",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":7,\"mac\":\"A0:B7:65:CD:4D:34\",\"oper\":\"delete\"}",
        "payloadType": "json",
        "x": 850,
        "y": 280,
        "wires": [
            [
                "64eb321e65fbc4fb"
            ]
        ]
    },
    {
        "id": "fc5c9b446f8085cb",
        "type": "link out",
        "z": "5e28082ea45bdda0",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "52e4ae8984b32477"
        ],
        "x": 395,
        "y": 300,
        "wires": []
    },
    {
        "id": "b3aee02dac108168",
        "type": "link out",
        "z": "5e28082ea45bdda0",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "52e4ae8984b32477"
        ],
        "x": 675,
        "y": 200,
        "wires": []
    },
    {
        "id": "0f420e6bc3e9ae88",
        "type": "link out",
        "z": "5e28082ea45bdda0",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "52e4ae8984b32477"
        ],
        "x": 715,
        "y": 360,
        "wires": []
    },
    {
        "id": "64eb321e65fbc4fb",
        "type": "link out",
        "z": "5e28082ea45bdda0",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "52e4ae8984b32477"
        ],
        "x": 1015,
        "y": 220,
        "wires": []
    },
    {
        "id": "52e4ae8984b32477",
        "type": "link in",
        "z": "5e28082ea45bdda0",
        "name": "link in 2",
        "links": [
            "fc5c9b446f8085cb",
            "b3aee02dac108168",
            "0f420e6bc3e9ae88",
            "64eb321e65fbc4fb"
        ],
        "x": 785,
        "y": 360,
        "wires": [
            [
                "0089d3b291a9a9d1"
            ]
        ]
    },
    {
        "id": "f15d66b3.c7edf8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ai.doowon.ac.kr",
        "port": "1883",
        "tls": "509a45a9.089bbc",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "509a45a9.089bbc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "94191b3ef7-certificate.pem.crt",
        "keyname": "94191b3ef7-private.pem.key",
        "caname": "MtestCA.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]
