txt/protocol node red example.json
[
    {
        "id": "8bd324737a84834d",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9c6099d36e249d3",
        "type": "mqtt out",
        "z": "8bd324737a84834d",
        "name": "",
        "topic": "i2r/kdi6033@gmail.com/in",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f15d66b3.c7edf8",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "6af6a2b7c713c3b6",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=3 메세지 요청",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"B0:A7:32:1E:F0:3C\",\"order\":3}",
        "payloadType": "json",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "3a1dcd556616723c",
        "type": "mqtt in",
        "z": "8bd324737a84834d",
        "name": "",
        "topic": "i2r/kdi6033@gmail.com/out",
        "qos": "0",
        "datatype": "auto",
        "broker": "f15d66b3.c7edf8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 500,
        "wires": [
            [
                "e0dd97655d2f9357"
            ]
        ]
    },
    {
        "id": "d111da8e620b39df",
        "type": "debug",
        "z": "8bd324737a84834d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "539e34c1a9b3120a",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=4 insert 매일",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"insert\",\"pI\":0,\"sH\":9,\"sM\":55,\"eH\":9,\"eM\":57,\"rM\":\"d\",\"dW\":0}",
        "payloadType": "json",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "65245ce9a5dcdf9d",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=4 list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"list\",\"pI\":0}",
        "payloadType": "json",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "a20ea64622f552a6",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=4 insert 매주 월요일",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"insert\",\"pI\":0,\"sH\":9,\"sM\":55,\"eH\":9,\"eM\":57,\"rM\":\"w\",\"dW\":1}",
        "payloadType": "json",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "0c30fe6083fbf921",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=4 delete one",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"delete\",\"pI\":0,\"slotIndex\":0}",
        "payloadType": "json",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "89e3ba5c810f57f8",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=4 delete all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":4,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"deleteAll\",\"pI\":0}",
        "payloadType": "json",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "48c0b086b2657836",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=5 save",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":5,\"oper\":\"save\",\"mac\":\"B0:A7:32:1E:F0:3C\",\"portNo\":0,\"portState\":[{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":1,\"value\":false},{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":1,\"value\":true}]}",
        "payloadType": "json",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "50c80d4f9dc9e711"
            ]
        ]
    },
    {
        "id": "c0d6f5972c524f11",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=5 list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":5,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"list\",\"portNo\":0}",
        "payloadType": "json",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "50c80d4f9dc9e711"
            ]
        ]
    },
    {
        "id": "03ba09f002e02620",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=5 dlete",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":5,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"delete\",\"portNo\":0}",
        "payloadType": "json",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "50c80d4f9dc9e711"
            ]
        ]
    },
    {
        "id": "6bb2ac2a78ff7a61",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=6 save",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":6,\"oper\":\"save\",\"mac\":\"B0:A7:32:1E:F0:3C\",\"tempHigh\":28,\"tempLow\":27,\"portState\":[{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":0,\"value\":false},{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":0,\"value\":true}]}",
        "payloadType": "json",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "7870830ecb4b8bd6"
            ]
        ]
    },
    {
        "id": "8518cf318b2bf889",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=6 list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":6,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"list\"}",
        "payloadType": "json",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "7870830ecb4b8bd6"
            ]
        ]
    },
    {
        "id": "57ff2b1e29f65a34",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=6 calibration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":6,\"oper\":\"cali\",\"mac\":\"B0:A7:32:1E:F0:3C\",\"calTemp\":28.1}",
        "payloadType": "json",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "7870830ecb4b8bd6"
            ]
        ]
    },
    {
        "id": "cf54271c5e6780a8",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=6 dlete",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":6,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"delete\"}",
        "payloadType": "json",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "7870830ecb4b8bd6"
            ]
        ]
    },
    {
        "id": "a73a9a1c9c0404b2",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=7 save",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":7,\"oper\":\"save\",\"mac\":\"B0:A7:32:1E:F0:3C\",\"humiHigh\":50,\"humiLow\":49,\"portState\":[{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":0,\"value\":false},{\"mac\":\"D4:8A:FC:B5:30:10\",\"port\":0,\"value\":true}]}",
        "payloadType": "json",
        "x": 850,
        "y": 160,
        "wires": [
            [
                "0f12a81f712dc606"
            ]
        ]
    },
    {
        "id": "0e9edd8f011d165f",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=7 list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":7,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"list\"}",
        "payloadType": "json",
        "x": 840,
        "y": 200,
        "wires": [
            [
                "0f12a81f712dc606"
            ]
        ]
    },
    {
        "id": "ac62eacb220eb2ba",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=7 calibration",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":7,\"oper\":\"cali\",\"mac\":\"B0:A7:32:1E:F0:3C4\",\"calHumi\":48}",
        "payloadType": "json",
        "x": 870,
        "y": 240,
        "wires": [
            [
                "0f12a81f712dc606"
            ]
        ]
    },
    {
        "id": "c5f7379d98ed18a2",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=7 dlete",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"order\":7,\"mac\":\"B0:A7:32:1E:F0:3C\",\"oper\":\"delete\"}",
        "payloadType": "json",
        "x": 850,
        "y": 280,
        "wires": [
            [
                "0f12a81f712dc606"
            ]
        ]
    },
    {
        "id": "f1b650c23af75df8",
        "type": "link out",
        "z": "8bd324737a84834d",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "5af44cdd01266b8c"
        ],
        "x": 395,
        "y": 360,
        "wires": []
    },
    {
        "id": "50c80d4f9dc9e711",
        "type": "link out",
        "z": "8bd324737a84834d",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "5af44cdd01266b8c"
        ],
        "x": 675,
        "y": 200,
        "wires": []
    },
    {
        "id": "7870830ecb4b8bd6",
        "type": "link out",
        "z": "8bd324737a84834d",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "5af44cdd01266b8c"
        ],
        "x": 715,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f12a81f712dc606",
        "type": "link out",
        "z": "8bd324737a84834d",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "5af44cdd01266b8c"
        ],
        "x": 1015,
        "y": 220,
        "wires": []
    },
    {
        "id": "5af44cdd01266b8c",
        "type": "link in",
        "z": "8bd324737a84834d",
        "name": "link in 2",
        "links": [
            "f1b650c23af75df8",
            "50c80d4f9dc9e711",
            "7870830ecb4b8bd6",
            "0f12a81f712dc606"
        ],
        "x": 785,
        "y": 360,
        "wires": [
            [
                "f9c6099d36e249d3"
            ]
        ]
    },
    {
        "id": "1a3545f9c4a4cfbd",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=2 on 메세지 요청",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"B0:A7:32:1E:F0:3C\",\"order\":2,\"no\":1,\"value\":true}",
        "payloadType": "json",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "c81404eae34d0229",
        "type": "inject",
        "z": "8bd324737a84834d",
        "name": "orde=2 off 메세지 요청",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"B0:A7:32:1E:F0:3C\",\"order\":2,\"no\":1,\"value\":false}",
        "payloadType": "json",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "f9c50941d59c5de4",
        "type": "ui_switch",
        "z": "8bd324737a84834d",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "83d4ee3be22747f2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"mac\":\"B0:A7:32:1E:F0:3C\",\"order\":2,\"no\":1,\"value\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"mac\":\"B0:A7:32:1E:F0:3C\",\"order\":2,\"no\":1,\"value\":false}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "f1b650c23af75df8"
            ]
        ]
    },
    {
        "id": "ecbeef2dbf55a863",
        "type": "ui_led",
        "z": "8bd324737a84834d",
        "order": 1,
        "group": "83d4ee3be22747f2",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "a03879d1ad0738dd",
        "type": "function",
        "z": "8bd324737a84834d",
        "name": "Extract 'in[0]'",
        "func": "var payload = msg.payload;\nvar inValue = payload.in[0];\n\nmsg.payload = inValue === 1;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            [
                "ecbeef2dbf55a863"
            ]
        ]
    },
    {
        "id": "e0dd97655d2f9357",
        "type": "json",
        "z": "8bd324737a84834d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 560,
        "wires": [
            [
                "a03879d1ad0738dd",
                "d111da8e620b39df"
            ]
        ]
    },
    {
        "id": "9da2eb8f9c6e6713",
        "type": "comment",
        "z": "8bd324737a84834d",
        "name": "다음을 수정해 주세요",
        "info": "1. 토픽의 email주소\n2. 제어하는 기기의 맥어드레스",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "f15d66b3.c7edf8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ai.doowon.ac.kr",
        "port": "1883",
        "tls": "509a45a9.089bbc",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "83d4ee3be22747f2",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "2ab50a64652d44a8",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "509a45a9.089bbc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "94191b3ef7-certificate.pem.crt",
        "keyname": "94191b3ef7-private.pem.key",
        "caname": "MtestCA.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "2ab50a64652d44a8",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]
